<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
  </head>

<body>
      <header class="main-header">
            <div class="main-header-top-bar">
                <div logoBusqueda>
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                    <div class="busqueda">
                        <input type="text" placeholder="Buscar productos, marcas">
                        <button class="btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito</h2>
            </div>
            <a href="#" class="burger-button"><i class="fa-solid fa-bars"></i></a>
            <nav class="main-header-boton-bar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
      
                <ul class="right-navbar">
                    <li><a href="register">Creá tu Cuenta <i class="fa-solid fa-credit-card"></i></a></li>
                    <li><a href="login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </header>
     
            </nav>
            <div class="burger-menu">
                  <i class="fas fa-bars"></i>
            </div>
      </header>

     <main class="login">
      <fieldset>
        <form action="home" method="post" class="register-form">
          <div class="control-form">
                <label></label>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="control">
          </div>
          <div class="control-form">
                
                <label></label>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña" class="control">
          </div>
     
          <div class="control_form_a_a">
                <button type="submit" class="control_form_a"><a href="http://localhost:3000/">Enviar </a></button>
          </div>
    </form>
</fieldset>
</main>


